body {
  background-color: beige;
}
.hidden {
  display: none;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 요소에 맞게 자동으로 조절되도록 설정합니다. */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.top-bar {
  position: absolute;
  top: 2%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: right;
  color: white;
  width: max-content;
  font-size: large;
}

/* input 요소 스타일링 */
input {
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  width: 200px; /* input 너비 조절 */
}

/* input에 포커스가 되었을 때의 스타일링 */
input:focus {
  background: rgba(255, 255, 255, 0.8);
}

/* button 요소 스타일링 */
button {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 10px; /* 버튼 간격 조절 */
}

/* button에 호버 시의 스타일링 */
button:hover {
  background: rgba(255, 255, 255, 0);
}

ul {
  list-style: none; /* 목록 기호 없애기 */
}

/* 각 리스트 아이템 스타일링 */
li {
  margin-bottom: 10px; /* 각 아이템 간격 조절 */
}

#refreshBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}
#refreshBtn:hover {
  background-color: #45a049;
}